@font-face {
  font-family: font;
  src: url("font4.otf");
}
:root{
  font-size: 20px;
  font-family: font;
}
*{
  color: white;
  
  
  box-sizing: border-box;
  cursor:context-menu;
}
html{
  min-height: 100vh;
  background: linear-gradient(to top, #000000, #494848);
}
body{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  max-width: 1600px;
}

#header-info{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
#div-menu{
  flex-direction: row;
  display: flex;
  padding: 0;
  background-color: rgba(3, 234, 255, 0.25);
  /*background-color: rgba(227, 242, 255, 0.13);*/
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  justify-content: space-around;
  position: relative;
}
#header-info h1{
  font-size: 2rem;
  margin: 10px 15px 5px 15px;

}
#header-info p{
  font-size: 1.4rem;
  margin: 0 15px 15px 20px;
}
#my-photo{
  align-self: stretch;
  width: 200px;
}
#div-total-info{
  display: flex;
  flex-direction: row;
  margin: 3% 3%;
  align-items: flex-start;
  justify-content: space-evenly;
}
.job-card {
  display: inline-block;
  border: 1px solid rgba(0, 255, 255, 0.13);
  border-radius: 15px;
  padding: 2px 5px;
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
  transition: 1s;
  line-height: 1.2rem;
}
.job-card:hover{
  transition: 1s;
  box-shadow: -2px -2px 10px rgba(7, 97, 97, 0.51), 2px 2px 10px rgba(7, 97, 97, 0.51) ,2px -2px 10px rgba(7, 97, 97, 0.51) ,-2px 2px 10px rgba(7, 97, 97, 0.51);
}
.job-card:active{
  transition: 1s;
  background-color: rgba(10, 184, 200, 0.66);
  }
.jobs{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 98%;
  justify-content: space-around;
}
#jobs-box{
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 2%;
}
.job-card{
  margin-left: 10px;
  padding:3%;
}
.job-card>h4 ,p{
  margin: 3px 0;
}
.job-card hr{
  margin: 4%;
}
.language-div{
  display: flex;
  flex-direction: row;
}
.language-div>div:nth-child(n+2){
  margin-left: 10px;
}
#language-list>li:nth-child(n+1){
  margin-top: 10px;
}
#connect-div{
  display: flex;
  flex-direction: row;
  justify-content: right;
  overflow: visible;
  direction: rtl;
  /*height: 1px;*/
  width: 50%;
  /*border: 1px dotted rgba(10, 184, 200, 0.66);*/
  /*border-top-right-radius: 50px;*/
  /*border-bottom-right-radius: 50px;*/
  align-items: center;
  margin-bottom: 3%;
  align-self: flex-end;
}

#connect-div div:first-child{
  width: 30%;
  height: 4px;
  border-top: 1px solid white;
}
#connect-div div{
  width: 10%;
  height: 4px;
  border-top: 1px solid white;
}
#connect-div>a{
  width: 3.5%;
  height: auto;
}
#connect-div>a>svg{
  width: 100%;
  height: auto;
}
.skill{

  display: flex;
  width: 69px;
  height: 69px;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0;
}
.outer{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px dotted rgba(3, 234, 255, 0.24);
}
.inner{
  display: flex;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  align-items: center;
}
@keyframes progress-100 {
  100%{
    stroke-dashoffset: .5;
  }
}

.language-div svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.job-card:nth-child(n+2){
  margin-left: 10px;
}
.jobs{
   width: 100%;
 }
#div_Abilities{
  width: 70%;
}
#lang-div{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.inner>p{
  font-size: 0.6rem;
}
#language-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5%;
  height:100%;
  justify-content: center;
  padding:2%;
  list-style: none;
}
.language-div{
  justify-content: space-evenly;
  align-content: center;
}
#menu-back-div{
  display: none;
  opacity: 0.5;
}
.like-svg{
  position: absolute;
  bottom:0;
  right: 50%;
  transform: translateY(50%) translateX(50%);
  width: 1.5%;
  height: auto;
  fill: aqua;
}
#like-message-div{
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgb(12, 106, 115);
  position: fixed;
  font-size: 2.5rem;
  bottom: 10%;
  padding: 15px 30px;
  border-bottom-right-radius: 180px;
  border-top-left-radius: 90px;
  z-index: 10;
  opacity: 0;
  transition: 1s;
  font-size: .9rem;
}
#like-message-div svg{
  transition: 0.3s;
  stroke-width: 2px;
  stroke: black;

}
#close_but{
  top:0;
  right: 0;
  /*transform: translateX(50%) translateY(-50%);*/
  position: absolute;
}

.inner p{
  font-size: .5rem;
}
@media screen and (max-width: 1400px){
  #connect-div>a{
    width: 4%;
    height: auto;
  }
  :root{
    font-size: 16px;
  }
  #div-menu p{
    font-size: 1.3rem;
  }
  #div-menu h1{
    font-size: 2rem;
  }
  #my-photo{
    width: 150px;
  }
  .job-card{
    width: 25%;
  }
  .job-card:nth-child(n+2){
    margin-left: 10px;
  }
  .inner p{
    font-size: .6rem;
  }
  .language-div>p{
    font-size: 1.1rem;
  }
  #div-total-info{
    display: flex;
    flex-direction: column;
  }
  .skill{
    align-self: center;
  }
  #div_Abilities{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #div_Abilities ul{
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  #lang-div{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #lang-div ul{
    align-self: center;
  }
  #language-list{
    width: 100%;

  }
  .language-div{
    justify-content: space-evenly;
    align-content: center;
  }
  #language-div{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 992px){
  .inner p{
    font-size: .6rem;
  }
  #connect-div>a{
    width: 25px;
    height: auto;
  }
  #connect-div div:first-child{
    width: 40%;
  }
  #connect-div div:nth-child(n+2){
    width: 20%;
  }
  #my-photo{
    width: 160px;
  }
  
  
  #my-photo{
    align-self: flex-end;
  }

}
@media screen and (max-width: 768px){
  .jobs{
    width: 100%;
  }
  .job-card{
    width: 70%;
    background-color: rgba(28,91,97,0.9);
    border: 1px solid white;
  }
  /* @keyframes anim-cart {
    50%{
      transform: translateX(-55%);
    }
    51%{
      z-index: 10;
    }
    100%{
      transform: translateX(0%);
    }
  } */
  .job-card:nth-child(n+2):hover{
    
    box-shadow: -2px 0 10px  rgb(60,60,60), 2px 2px 10px rgb(60,60,60),2px -2px 10px  rgb(60,60,60),-2px 2px 10px rgb(60,60,60);
    background-color: rgba(28,111,117,1);
    /* animation: anim-cart 1s ease 1 forwards; */
  }
  .job-card:nth-child(n+2){
    margin-left: -23%;
  }
  .jobs p,h4{
    text-align: left;
  }

}
@media screen and (max-width: 576px) {
  :root{
    font-size: 11px;
  }
  #like-message-div{
    width: 100%;
    background-color: rgb(7, 130, 142);
    position: fixed;
    font-size: 2.5rem;
    bottom: 0;
    padding: 15px 30px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /*box-shadow: 0 -2px 8px 9px rgba(56, 251, 246, 0.75);*/
    z-index: 11;
  }
  #like-message-div p{
    font-size: 1.2rem;
  }
  #close_but{
    right: 50%;
    border-radius: 50%;
    background-color: rgb(7, 130, 142);
    transform: translateY(-50%) translateX(50%);
    /*border: 2px dashed white;*/
    box-shadow: 0 2px 2px 2px rgba(4, 57, 57, 0.4);
  }
  #connect-div>a{
    width: 20px;
    height: auto;
  }
  .like-svg{
    width:4%;
  }
  #div-menu p{
    font-size: 1.3rem;
  }
  #div-menu h1{
    font-size: 2rem;
  }
  #connect-div{
    width: 70%;
  }
  #connect-div div:first-child{
    width: 50%;
  }
  #connect-div div{
    width: 40%;

  }
  
  #my-photo{
    display: none;
  }
  #div-menu h1,p{
    z-index: 2;
  }
  #header-info{
    width: 100%;
  }
  
}
@media screen and (max-width: 290px){
  .like-svg{
    display: none;
  }
  
  *{
    font-size: 9px;
  }
  .jobs p,h4{
    text-align: center;
  }
  .jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .job-card:nth-child(n+1){
    margin-left: 0;
  }
  .job-card:hover{
  transition: 1s;
  box-shadow: -2px -2px 10px rgba(7, 97, 97, 0.51), 2px 2px 10px rgba(7, 97, 97, 0.51) ,2px -2px 10px rgba(7, 97, 97, 0.51) ,-2px 2px 10px rgba(7, 97, 97, 0.51);
}
}



